<div class="bg-primairy" id="top">
  <div class="mx-auto flex w-full max-w-7xl justify-between py-8">
    <div class="flex items-center">
      <a href="" class="mr-16">
        <img src="../../assets/logo.png" alt="" />
      </a>
      <div class="flex items-center gap-x-16 text-lg text-gray">
        <a class="" href="/">
          <mat-icon fontIcon="search" class="icons" />
        </a>
        <a routerLink="/" routerLinkActive="active" class="w-fit">Home</a>
        <a routerLink="/shop" routerLinkActive="active" class="w-fit">Shop</a>
        <a routerLink="/categories" routerLinkActive="active" class="w-fit"
          >Categories</a
        >
        <a routerLink="/buy-now" routerLinkActive="active" class="w-fit"
          >Buy Now</a
        >
      </div>
    </div>

    <div class="flex items-center gap-x-12 align-middle text-gray">
      <mat-icon fontIcon="favorite-border" />
      <a class="flex items-center gap-4">
        <mat-icon fontIcon="shopping-bag" />
        <p>Cart</p>
      </a>
      <a
        href="/login"
        class="rounded-lg bg-blue px-14 py-3 font-medium text-white"
        >Login</a
      >
    </div>
  </div>
</div>
