

<div class="burger-menu">
<button class="burger-menu-toggle" (click)="toggleMenu()">
    <div *ngIf="isOpen">
        <img src="../../assets/close.svg" alt="" class="icons">
    </div>
    <div *ngIf="!isOpen">
        <img src="../../assets/burger-menu.svg" alt="" class="icons"/>
    </div>
</button>
<div *ngIf="isOpen">

    <ul class="burger-menu-items">
        <li><a href="/">Menu Item 1</a></li>
        <li><a href="#">Menu Item 2</a></li>
        <li><a href="#">Menu Item 3</a></li>
    </ul>
</div>

</div>

<!-- use ngif -->