
    <div class="nav">
        <div class="nav-links">
           <!--  <img src="../../assets/logo.png" alt="" class="logo">
            <a href="">
                <img src="../../assets/search.svg" alt="" class="icons">
            </a>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/shop" routerLinkActive="active">Shop</a>
            <a routerLink="/categories" routerLinkActive="active">Categories</a>
            <a routerLink="/buy-now" routerLinkActive="active">Buy Now</a>
        </div>
        <div class="nav-right">
            <img src="../../assets/heart.svg" alt="" class="icons">
            <div class="cart">
                <img src="../../assets/shop.svg" alt="" class="icons">
                <p>Cart</p>
            </div>
            <a href="/login" class="login">Login</a>
             -->
            <app-burger-menu></app-burger-menu>
<!--         </div>
 -->    </div>
