<app-scroll-to-top></app-scroll-to-top>

<div class="bg-primairy">
  <div class="mx-auto max-w-5xl py-28">
    <img
      src="../../assets/dual-laptop.png"
      alt=""
      class="mx-auto mb-24 h-[25rem] object-contain"
    />
    <div class="text-center">
      <p class="mb-2 text-4xl font-bold">Create wonders.</p>
      <p class="mb-8 text-gray">
        The Power of 16" Retina Display and M2 Pro Processor
      </p>
      <app-buy-now />
    </div>
  </div>
</div>

<!-- -------------------------------------------------------------------------------------------------- -->

<div class="mx-auto my-36 max-w-5xl">
  <p class="mb-24 text-center text-3xl font-semibold text-blue">
    Choose the model that suits you
  </p>
  <div class="grid w-full grid-cols-2 divide-x-2 divide-gray">
    <app-product-with-info *ngFor="let item of [1, 2]" />
  </div>
</div>

<!-- -------------------------------------------------------------------------------------------------- -->

<div
  class="mx-auto my-36 grid max-w-7xl grid-cols-2 gap-x-10 rounded-3xl bg-primairy py-20 px-10"
>
  <img src="../../assets/dual-laptop.png" alt="" class="h-40 object-contain" />
  <div class="flex flex-col justify-center">
    <p class="mb-6 flex items-center text-4xl font-bold">
      Power of M2 Pro
      <img src="../../assets/arrow-right.svg" alt="" class="mx-6 h-6" />
    </p>
    <p class="max-w-[25rem] text-gray">
      There are many wonderful things in the universe. One of them is the
      lights. Wonderfuyl rays that attract and impress. Now buy the blended
    </p>
  </div>
</div>

<!-- -------------------------------------------------------------------------------------------------- -->

<app-featured-product [limit]="6"></app-featured-product>

<!-- -------------------------------------------------------------------------------------------------- -->

<div class="mx-auto my-36 grid max-w-7xl grid-cols-2 gap-x-20">
  <div
    class="flex flex-col items-center justify-start rounded-3xl bg-primairy p-20"
    *ngFor="let item of [1, 2]; let i = index"
    [ngClass]="i === 1 ? 'bg-transparent' : ''"
  >
    <p class="mb-10 w-full text-start text-3xl font-bold">
      <mat-icon
        [fontIcon]="i === 1 ? 'location-pin' : 'lock'"
        class="mr-10 h-16 w-16 text-5xl"
      />
      Secure shopping
    </p>
    <p class="mb-8 text-gray">
      Parmesan ipsum ranch bacon mozzarella burnt onions Aussie. lorem ipsum
      dummy text of the printing and typesetting industry. Lorem Ipsum bacon
      mozzarella burnt onions Aussie. lorem ipsum dummy text of the printing
    </p>
    <p class="w-full text-end text-sm text-blue">
      Details<mat-icon fontIcon="east" class="mx-4 align-middle text-blue" />
    </p>
  </div>
</div>

<!-- -------------------------------------------------------------------------------------------------- -->

<app-bottom-section />
